﻿@{
    ViewBag.Title = "Inicio";
}

<style>
    body {
        background-image: url("Content/assets/img/fondo.jpg");
        background-color: #cccccc;
        background-repeat: repeat;
    }
</style>

<body>

</body>