﻿
@{
    ViewBag.Title = "Evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Static Table Start -->
    <div ng-controller="EvaluationController" class="static-table-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline8-list">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>Sesiones</h1>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:blue;" ng-repeat="session in sessions" ng-click="getSubjectSessionBySubjectCod(session);openSessionStudentsModal(session);getSessionInformationModal(session)">
                                            <td>SS-@DateTime.Now.Year-{{session.SessionCod}}</td>
                                            <td>{{session.Name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Session Students Modal-->
        <div class="modal fade" id="sessionStudentsModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Estudiantes</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="color:blue;" ng-repeat="student in students" ng-click="openEvaluationModal(sessionInformationModal, student)">
                                    <td>{{student.StudentCod}}</td>
                                    <td>{{student.Name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Session Students Modal-->
        <!--Session Students Modal-->
        <div class="modal fade" id="evaluationModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:868px;">
                    <div class="modal-header">
                        <h3 class="modal-title">Evaluación</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-content">
                        <div class="row col-md-12">
                            <table class="table table-bordered table-dark">
                                <thead>
                                    <tr>
                                        <th>Competencias Específicas</th>
                                        <th>Indicadores de logro</th>
                                        <th style="width:158px;">Períodos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="competencesAndIndicator in competencesAndIndicators">
                                        <td>{{competencesAndIndicator.Name}}</td>

                                        <td>
                                            <!-- nested row -->
                                            <table>
                                                <tr ng-repeat="indicator in competencesAndIndicator.Indicators">
                                                    <td class="tdFantasma">
                                                        ● {{indicator.Name}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td style="padding-right: 27px;">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" id="firstIndicatorGrades" ng-model="firstIndicadorGrade" placeholder="P1" style="width:30px;" />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P2" style="width:30px;" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P3" style="width:30px;" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P4" style="width:30px;" disabled />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <input type="text" id="secondIndicatorGrades" ng-model="secondIndicadorGrade" placeholder="P1" style="width:30px;" />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P2" style="width:30px;" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P3" style="width:30px;" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder="P4" style="width:30px;" disabled />
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="saveGrades(sessionInformationModal);" data-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Session Students Modal-->
    </div>
    <!-- Static Table End -->

