﻿
@{
    ViewBag.Title = "Reporte Resumido de Notas";
}

<style>
    .tbl{
        width:800px;
        border:solid;
    }
</style>

<!-- Single pro tab review Start-->
<div ng-controller="ReportController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Reporte Resumido de Notas</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">

                                                        <div class="form-group">
                                                            <select class="form-control" id="sessionCod" ng-options="p.Name for p in sessions track by p.SessionCod" ng-model="sessionSelected"></select>
                                                        </div>

                                                        <div class="form-group">
                                                            <select class="form-control" id="studentCod" ng-options="p.Name for p in students track by p.StudentCod" ng-model="studentSelected"></select>
                                                        </div>

                                                        <table class="table-bordered" ng-if="studentGrades">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="9" width="553">Liceo Victor Garrido</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9">Año Escolar</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">&nbsp;</td>
                                                                    <td>Fecha : @DateTime.Now.ToString("dd/MM/yyyy")</td>
                                                                    <td colspan="3">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Nombre: {{studentGrades.StudentName}}</td>
                                                                    <td colspan="8">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                    <td colspan="3">Primer Semestre</td>
                                                                    <td colspan="3">Segundo Semestre</td>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Asignaturas</td>
                                                                    <td>Periodo 1</td>
                                                                    <td>Periodo 2</td>
                                                                    <td>Exa Sem</td>
                                                                    <td>Periodo 3</td>
                                                                    <td>Periodo 4</td>
                                                                    <td>Exa Final</td>
                                                                    <td>Nota Final</td>
                                                                </tr>
                                                                <tr ng-repeat="studentGrade in studentGrades.SubjectsAndGrades">
                                                                    <td>{{studentGrade.Name}}</td>
                                                                    <td>{{studentGrade.Grade}}</td>
                                                                    <td>0</td>
                                                                    <td>0</td>
                                                                    <td>0</td>
                                                                    <td>0</td>
                                                                    <td>0</td>
                                                                    <td>0</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>