﻿@{
    ViewBag.Title = "Nuevo Docente";
}

<!-- Single pro tab review Start-->
<div ng-controller="ProfessorCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Información Básica</a></li>
                        <li><a href="#reviews">Información de la Cuenta</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">
                                            <form action="/upload" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Nombre" ng-model="professorName">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Apellido" ng-model="professorLastName">
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="finish" type="text" class="form-control" placeholder="Fecha de Nacimiento" ng-model="professorDateOfBirth">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" placeholder="Cédula" ng-model="professorIdentification">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" placeholder="Número de contacto" ng-model="professorContactNumber">
                                                        </div>                                                    
                                                        <div class="form-group alert-up-pd">
                                                            <div class="dz-message needsclick download-custom">
                                                                <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                                                <h2 class="edudropnone">Drop image here or click to upload.</h2>
                                                                <p class="edudropnone">
                                                                    <span class="note needsclick">(This is just a demo dropzone. Selected image is <strong>not</strong> actually uploaded.)</span>
                                                                </p>
                                                                <input name="imageico" class="hd-pro-img" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Asignatura" ng-model="professorSubject">
                                                        </div>
                                                        <div class="form-group res-mg-t-15">
                                                            <textarea placeholder="Dirección de domicilio" ng-model="professorAddress"></textarea>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                                @*<div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="payment-adress">
                                                            <a href="#reviews" >Siguiente</a>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <form id="acount-infor" action="#" class="acount-infor">
                                                    <div class="devit-card-custom">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" disabled placeholder="Código" id="professorCode" ng-model="professorCod">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Contraseña" ng-model="professorPassword">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Confirmar Contraseña">
                                                        </div>
                                                        <a ng-click="createProfessor()" class="btn btn-primary waves-effect waves-light">Guardar</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>