﻿@{
    ViewBag.Title = "Listado de Docentes";
}

    <style>
        .newProfessorInput {
            font-weight: bold;
            font-family: inherit;
            font-size: 100%;
            line-height: 3.15;
            margin-left: 1520px;
        }
    </style>

<!-- Static Table Start -->
<div ng-controller="ViewAllProfessorController" class="static-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline8-list">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Docentes</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="static-table-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Asignatura</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color:blue;" ng-repeat="professor in professors" ng-click="getProfessorInformationModal(professor);openProfessorModifyModal()">
                                        <td>{{professor.ProfessorCod}}</td>
                                        <td>{{professor.Name}}</td>
                                        <td>{{professor.LastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <input class="btn-primary newProfessorInput" type="button" value="Nuevo Docente" onclick='window.location = "@Url.Action("Create", "Professor")";' />
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->

    <!-- Edit Modal -->
    <div class="modal fade" id="professorModifyModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Editar Docente</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.Name" />
                    </div>

                    <div class="col-lg-6">
                        <label>Apellido</label>
                        <input class="form-control" ng-model="professorInformationModal.LastName" />
                    </div>

                    <div class="col-lg-6">
                        <label>Fecha de Nacimiento</label>
                        <input class="form-control" ng-model="professorInformationModal.DateOfBirth" />
                    </div>

                    <div class="col-lg-6">
                        <label>Cédula</label>
                        <input class="form-control" ng-model="professorInformationModal.Identification" />
                    </div>

                    <div class="col-lg-6">
                        <label>Número de Teléfono</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.TelephoneNumber" />
                    </div>

                    <div class="col-lg-6">
                        <label>Número de Celular</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.CellPhoneNumber" />
                    </div>

                    <div class="col-lg-6">
                        <label>Género</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.Gender" />
                    </div>

                    <div class="col-lg-6">
                        <label>Asignatura</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.Subject" />
                    </div>

                    <div class="col-lg-6">
                        <label>Ciudad</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.City" />
                    </div>

                    <div class="col-lg-6">
                        <label>País de Nacimiento</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.CountryOfBirth" />
                    </div>

                    <div class="col-lg-6">
                        <label>Código</label>
                        <input type="text" class="form-control" disabled ng-model="professorInformationModal.ProfessorCod" />
                    </div>

                    <div class="col-lg-6">
                        <label>Contraseña</label>
                        <input type="text" class="form-control" ng-model="professorInformationModal.Password" />
                    </div>

                    <div class="form-group col-md-12">
                        <label>Dirección</label>
                        <textarea class="form-control" style="resize: none;" ng-model="professorInformationModal.Address" rows="4"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editProfessor(professorInformationModal)">Modificar</button>
                    <button type="button" class="btn btn-danger" ng-click="changeProfessorStatus(professorInformationModal.ID)">Desactivar Docente</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteProfessor(professorInformationModal.ID)">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
</div>