﻿
@{
    ViewBag.Title = "Inicio de Sesión";
}

<div ng-controller="LoginController" class="error-pagewrap">
    <div class="error-page-int">
        <div class="text-center m-b-md custom-login">
            @*<h3>SysEdVA</h3>*@
            <img src="~/Content/assets/img/logo-login.jpg" />
        </div>
        <div class="content-error">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Código</label>
                        <input type="text" placeholder="1234" required="" class="form-control" ng-model="codigoLogin">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contraseña</label>
                        <input type="password" placeholder="******" required="" id="password" class="form-control" ng-model="passwordLogin">
                    </div>
                    <button class="btn btn-success btn-block loginbtn" ng-click="login()">Acceder</button>
                </div>
            </div>
        </div>
    </div>
</div>