﻿
@{
    ViewBag.Title = "Nueva Sesión";
}

<!-- Single pro tab review Start-->
<div ng-controller="SessionCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Detalles de la Sesión</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">

                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad addcoursepro">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" placeholder="Código de la Sesión" disabled id="sessionCode" ng-model="sessionCod">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Nombre de la Sesión" ng-model="sessionName">
                                                    </div>
                                                    <div class="form-group">
                                                        <span>Seleccione un curso</span>
                                                        <select class="form-control" ng-options="p.Name for p in courses track by p.CourseCod" ng-model="Course"></select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <span>Seleccione un profesor</span>
                                                    <select class="form-control" ng-options="p.Name for p in professors track by p.ProfessorCod" ng-model="Professor"></select>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <button class="btn btn-primary waves-effect waves-light" ng-click="createSession()">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>