﻿
@{
    ViewBag.Title = "Listado de Sesiones";
}

<style>
    .tdFantasma {
        border: 1px solid #000;
        margin: -2px;
        width: calc(100% + 4px);
    }

    .inputCalificacion {
        width: 40px;
        padding: 2px;
        margin: 2px;
    }
</style>

<div ng-controller="ViewAllSessionsController" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="session in sessions">
                <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30" ng-click="getSessionInformationModal(session);openSessionModifyModal()">
                    <div class="panel-body custom-panel-jw">
                        @*<img alt="logo" class="img-circle m-b" src="img/contact/1.jpg">*@
                        <h3>{{session.Name}} - {{session.SessionCod}}</h3>
                        <p class="all-pro-ad"></p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="professor-stds-int">
                            <div class="professor-stds">
                                @*<div class="contact-stat"><span>Cantidad de estudiantes: </span> <strong>{{course.StudentsQty}}</strong></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Students Modal -->
    <div class="modal fade" id="sessionModifyModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Listado de Estudiantes</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div hidden class="col-lg-6">
                        <label>Código</label>
                        <input type="text" class="form-control" disabled ng-model="sessionInformationModal.SessionCod" />
                    </div>
                    <div class="list-group" ng-repeat="(key,value) in students">
                        <a class="list-group-item list-group-item-action list-group-item-dark" ng-repeat="s in value"><strong ng-click="openGradesModal(s.StudentCod)">{{s.StudentCod}} - {{s.Name}} {{s.LastName}}</strong></a>
                    </div>
                </div>

                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" ng-click="editCourse(courseInformationModal)">Modificar</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteCourse(courseInformationModal.ID)">Eliminar</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- View Students Modal -->

    <!-- Grades Modal -->
    <div class="modal fade" id="gradesModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" style="width:1200px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Evaluación</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="container">
                    <div class="row col-md-6">
                        <table class="table table-bordered table-dark">
                            <thead>
                                <tr>
                                    <th>Competencias Generales</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="competencesWithIndicator in competencesWithIndicators.GeneralCompetences">
                                    <td>{{competencesWithIndicator}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-md-6">
                        <table class="table table-bordered table-dark">
                            <thead>
                                <tr>
                                    <th>Competencias Específicas</th>
                                    <th>Indicadores</th>
                                    <th>Calificación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="competencesWithIndicator in competencesWithIndicators.SpecificCompetences">
                                    <td>{{competencesWithIndicator.Name}}</td>

                                    <td>
                                        <!-- nested row -->
                                        <table>
                                            <tr ng-repeat="indicator in competencesWithIndicator.Indicators">
                                                <td class="tdFantasma">{{indicator.Name}}</td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td>
                                        <table>
                                            <tr ng-repeat="indicator in competencesWithIndicator.Indicators">
                                                <td><input type="text" class="inputCalificacion" id="grades" onchange="handleChange(this);" maxlength="3" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body row">

                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-primary" ng-click="editCourse(courseInformationModal)">Modificar</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteCourse(courseInformationModal.ID)">Eliminar</button>*@
                        <button type="button" class="btn btn-primary" ng-click="calculateAverage()">Calcular y guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grades Modal -->
    </div>
</div>

<script>
    function handleChange(input) {
        if (input.value < 0) input.value = 0;
        if (input.value > 100) input.value = 100;
    }
</script>