﻿
@{
    ViewBag.Title = "Período para publicación de notas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single pro tab review Start-->
<div ng-controller="StudentCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Período para publicación de notas</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <h5>Período 1</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>Fecha Inicio</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <span>Fecha Final</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>
                                                    </div>

                                                    <br />
                                                    <h5>Período 2</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>Fecha Inicio</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <span>Fecha Final</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>
                                                    </div>

                                                    <br />
                                                    <h5>Período 3</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>Fecha Inicio</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <span>Fecha Final</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>
                                                    </div>

                                                    <br />
                                                    <h5>Período 4</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span>Fecha Inicio</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <span>Fecha Final</span>
                                                            <input type="date" name="gender" class="form-control" ng-model="studentGender" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <button class="btn btn-primary waves-effect waves-light" ng-click="createStudent()">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>