﻿
@{
    ViewBag.Title = "Listado de Cursos";
}

    <style>
        .newCourseInput {
            font-weight: bold;
            font-family: inherit;
            font-size: 100%;
            line-height: 3.15;
            margin-left: 1520px;
        }

        select[multiple]{
            height: 146px;
        }


    </style>

    <div ng-controller="ViewAllCoursesController" class="contacts-area mg-b-15">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline8-list">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>Cursos</h1>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:blue;" ng-repeat="course in courses" ng-click="getCourseInformationModal(course);openCourseModifyModal()">
                                            <td>CR-@DateTime.Now.Year-{{course.CourseCod}}</td>
                                            <td>{{course.Name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <input class="btn-primary newCourseInput" type="button" value="Nuevo Curso" onclick='window.location = "@Url.Action("Create", "Course")";' />
                    </div>
                </div>
            </div>
        </div>
        <!-- Static Table End -->
        <!-- Edit Course Modal -->
        <div class="modal fade" id="courseModifyModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Editar Curso</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-lg-6">
                            <label>Código</label>
                            <input type="text" class="form-control" disabled ng-model="courseInformationModal.CourseCod" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nombre</label>
                            <input class="form-control" ng-model="courseInformationModal.Name" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" ng-click="openCourseSubjectsModal(courseInformationModal)">Ver Materias</button>
                        <button type="button" class="btn btn-primary" ng-click="editCourse(courseInformationModal)">Modificar</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteCourse(courseInformationModal.ID)">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Course Modal -->
        <!-- Course Subjects Modal -->
        <div class="modal fade" id="courseSubjectsModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Materias</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="color:blue;" ng-repeat="subject in subjects" ng-click="openModifySubjectsModal(subject);getSessionsBySubject(subject)">
                                    <td>MT-{{subject.SubjectCod}}</td>
                                    <td>{{subject.Name}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" ng-click="openCreateSubjectsModal(courseInformationModal)">Crear Materia</button>
                        <button type="button" class="btn btn-primary" ng-click="refresh(courseInformationModal)">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Course Subjects Modal -->
        <!-- Course Subjects Modal -->
        <div class="modal fade" id="subjectModifyModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Información de la Materia</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <div class="modal-body row">
                            <div class="col-lg-6">
                                <label>Código</label>
                                <input type="text" class="form-control" id="subjectRandomCod" disabled ng-model="subjectInformationModal.SubjectCod" />
                            </div>

                            <div class="col-lg-6">
                                <label>Nombre</label>
                                <input class="form-control" disabled ng-model="subjectInformationModal.Name" />
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <br />
                                    <div class="modal-header">
                                        <h4 class="modal-title">Sesiones</h4>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="color:blue;" ng-repeat="session in sessions">
                                                <td>SS-@DateTime.Now.Year-{{session.SessionCod}}</td>
                                                <td>{{session.Name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="openCreateSessionModal();getProfessors()">Crear Sesiones</button>
                        <button type="button" class="btn btn-warning" ng-click="openCourseCompetences();getCompetencesBySubjectCod(subjectInformationModal)">Competencias</button>
                        <button type="button" class="btn btn-primary" ng-click="refreshGetSessionsBySubject(subjectInformationModal)">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Course Subjects Modal -->
        <!-- New Session Modal -->
        <div class="modal fade" id="newSessionModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nueva Sesión</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <div class="modal-body row">
                            <div class="col-lg-6">
                                <label>Código</label>
                                <input type="text" class="form-control" id="sessionRandomCod" disabled ng-model="sessionCod" />
                            </div>

                            <div class="col-lg-6">
                                <label>Nombre</label>
                                <input class="form-control" disabled ng-model="name" />
                            </div>

                            <div class="col-lg-6">
                                <label>Días</label>
                                <select id="daysSelect" class="form-control" multiple>
                                    <option value="L">Lunes</option>
                                    <option value="M">Martes</option>
                                    <option value="X">Miércoles</option>
                                    <option value="J">Jueves</option>
                                    <option value="V">Viernes</option>
                                </select>
                            </div>

                            <div class="col-lg-4">
                                <label>Hora</label><br />
                                Desde:<input type="time" id="fromInputTime" class="form-control without_ampm" /><br />
                                Hasta:<input type="time" id="toTimeInputTime" class="form-control without_ampm" />
                            </div>

                            <div class="col-lg-12">
                                <label>Profesor</label>
                                <select class="form-control" ng-model="professorId" ng-options="item.ProfessorCod as item.Name for item in professors"></select>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="generateSessionName(courseInformationModal,subjectInformationModal)">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Session Modal -->
        <!--Subject Create Modal-->
        <div class="modal" id="subjectCreateModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nueva Materia</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-lg-6">
                            <label>Código</label>
                            <input type="text" class="form-control" id="subjectRandomCod" disabled ng-model="subjectCod" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nombre</label>
                            <input class="form-control" ng-model="name" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="newSubject(courseInformationModal)">Crear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Subject Create Modal-->
        <!-- Competences Modal -->
        <div class="modal fade" id="competencesModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Competencias</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color:blue;" ng-repeat="competence in competences" ng-click="getCompetenceInformationModal(competence);openCompetenceModalInformation(competenceInformationModal)">
                                        <td>{{competence.CompetenceCod}}</td>
                                        <td>{{competence.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="openNewCompetenceModal()">Nueva</button>
                        <button type="button" class="btn btn-warning" ng-click="refreshCompetences(subjectInformationModal)">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Competences Modal -->
        <!--Competences Information Modal -->
        <div class="modal fade" id="competenceModalInformation" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Información de la Competencia</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <div class="modal-body row">
                            <div class="col-lg-6">
                                <label>Código</label>
                                <input type="text" class="form-control" id="subjectRandomCod" disabled ng-model="competenceInformationModal.CompetenceCod" />
                            </div>

                            <div class="col-lg-6">
                                <label>Nombre</label>
                                <textarea class="form-control" ng-model="competenceInformationModal.Name"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <br />
                                    <div class="modal-header">
                                        <h4 class="modal-title">Indicadores</h4>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código</th>
                                                <th scope="col">Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="color:blue;" ng-repeat="indicator in indicators" ng-click="getIndicatorInformationModal(indicator);openIndicatorModalInformation(indicatorInformationModal)">
                                                <td>{{indicator.IndicatorCod}}</td>
                                                <td>{{indicator.Name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="openCreateIndicatorModal()">Nuevo Indicador</button>
                        <button type="button" class="btn btn-warning" ng-click="editCompetence(competenceInformationModal)">Editar</button>
                        <button type="button" class="btn btn-primary" ng-click="refreshIndicatorsByCompetence(competenceInformationModal)">Actualizar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Competences Information Modal -->
        <!--Indicator Information Modal -->
        <div class="modal fade" id="indicatorModalInformation" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Información del Indicador de Logro</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">

                        <div class="col-lg-6">
                            <label>Código</label>
                            <input type="text" class="form-control" id="indicatorRandomCode" disabled ng-model="indicatorInformationModal.IndicatorCod" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nombre</label>
                            <textarea class="form-control" ng-model="indicatorInformationModal.Name"></textarea>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" ng-click="editIndicator(indicatorInformationModal)">Editar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Indicator Information Modal -->
        <!--Competence Create Modal-->
        <div class="modal" id="newCompetenceModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nueva Competencia</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-lg-6">
                            <label>Código</label>
                            <input type="text" class="form-control" id="competenceRandomCod" disabled ng-model="competenceRandomCode" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nombre</label>
                            <input class="form-control" ng-model="competenceName" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="newCompetence(subjectInformationModal)">Crear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Competence Create Modal-->
        <!--Competence Create Modal-->
        <div class="modal" id="newIndicatorModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nuevo Indicador</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-lg-6">
                            <label>Código</label>
                            <input type="text" class="form-control" id="indicatorRandomCode" disabled ng-model="indicatorRandomCode" />
                        </div>

                        <div class="col-lg-6">
                            <label>Nombre</label>
                            <input class="form-control" ng-model="indicatorName" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="createIndicator(competenceInformationModal)">Crear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Competence Create Modal-->
    </div>