﻿<!DOCTYPE html>
<html ng-app="SistemaEvaluacion">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - SysEdVA</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/form/all-type-forms.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Content/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularController.js"></script>

    <style>
        body {
            background-image: url("../../Content/assets/img/fondo.jpg");
            background-color: #cccccc;
            background-repeat: repeat;
        }
    </style>
</head>
<body ng-controller="LayoutController">
    @if (Session["usuario"] == null)
    {
        @RenderBody()
    }
    else
    {
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Start Header menu area -->
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="@Url.Action("Index", "Home")"><img class="main-logo" src="~/Content/assets/img/logo/logo.jpg" alt="" /></a>
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro">

                        <ul class="metismenu" id="menu1">

                            @if (@HttpContext.Current.Session["accesos"].ToString() == "0")
                            {
                                <li>
                                    <a title="Landing Page" href="@Url.Action("Index", "Home")" aria-expanded="false"><span class="educate-icon educate-home icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Inicio</span></a>
                                </li>

                                <li>
                                    <a class="has-arrow" title="Landing Page" href="@Url.Action("Index", "Management")" aria-expanded="false"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Gestión</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Nueva Área" href='@Url.Action("Index", "CorrectNote")'><span class="mini-sub-pro">Corregir Notas</span></a></li>
                                        <li><a title="Nueva Área" href='@Url.Action("Index", "PublishNotesDate")'><span class="mini-sub-pro">Fechas para Pulicar Notas</span></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Usuarios</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Administradores" href="@Url.Action("ViewAll", "User")" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Administradores</span></a></li>
                                        <li><a title="Estudiantes" href="@Url.Action("ViewAll", "Student")" aria-expanded="false"><span class="educate-icon educate-student icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Estudiantes</span></a></li>
                                        <li><a title="Profesores" href="@Url.Action("ViewAll", "Professor")" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Docentes</span></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href='@Url.Action("ViewAll", "Course")' aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Cursos</span></a>
                                </li>

                                <li>
                                    <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Administradores" href="@Url.Action("SpecificReport", "Report")" aria-expanded="false"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Reporte Resumido de notas</span></a></li>
                                        <li><a title="Estudiantes" href="@Url.Action("GeneralReport", "Report")" aria-expanded="false"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Reporte Detallado de notas</span></a></li>
                                    </ul>
                                </li>

                                @*<li>
                                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">App views</span></a>
                                        <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
                                            <li><a title="Notifications" href="notifications.html"><span class="mini-sub-pro">Notifications</span></a></li>
                                            <li><a title="Alerts" href="alerts.html"><span class="mini-sub-pro">Alerts</span></a></li>
                                            <li><a title="Modals" href="modals.html"><span class="mini-sub-pro">Modals</span></a></li>
                                            <li><a title="Buttons" href="buttons.html"><span class="mini-sub-pro">Buttons</span></a></li>
                                            <li><a title="Tabs" href="tabs.html"><span class="mini-sub-pro">Tabs</span></a></li>
                                            <li><a title="Accordion" href="accordion.html"><span class="mini-sub-pro">Accordion</span></a></li>
                                        </ul>
                                    </li>*@
                            }
                            else
                            {
                                <li>
                                    <a title="Listado Sesiones" href='@Url.Action("Index", "Evaluation")'><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span><span class="mini-sub-pro">Evaluaciones</span></a>
                                </li>

                                <li>
                                    <a class="has-arrow" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Reportes</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Administradores" href="@Url.Action("SpecificReport", "Report")" aria-expanded="false"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Reporte Resumido de notas</span></a></li>
                                        <li><a title="Estudiantes" href="@Url.Action("GeneralReport", "Report")" aria-expanded="false"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Reporte Detallado de notas</span></a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <!-- End Header menu area -->
        <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="@Url.Action("Index", "Home")"><img class="main-logo" src="~/Content/assets/img/logo/logo.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <div class="menu-switcher-pro">
                                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                    <i class="educate-icon educate-nav"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                            <div class="header-top-menu tabl-d-n">
                                                <ul class="nav navbar-nav mai-top-nav">
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <img src="~/Content/assets/img/logo/logo.jpg" alt="" />
                                                            @if (@HttpContext.Current.Session["nombre"] == null)
                                                            {<span class="admin-name">
                                                                    @HttpContext.Current.Session["usuario"]
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="admin-name">
                                                                    @HttpContext.Current.Session["nombre"]
                                                                </span>
                                                            }

                                                            <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                        </a>
                                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                            <li>
                                                                <a ng-click="logOut()"><span class="edu-icon edu-locked author-log-ic"></span>Cerrar Sesión</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            <li>
                                                <a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li><a href="index.html">Dashboard v.1</a></li>
                                                    <li><a href="index-1.html">Dashboard v.2</a></li>
                                                    <li><a href="index-3.html">Dashboard v.3</a></li>
                                                    <li><a href="analytics.html">Analytics</a></li>
                                                    <li><a href="widgets.html">Widgets</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="events.html">Event</a></li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="demoevent" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="all-professors.html">All Professors</a>
                                                    </li>
                                                    <li>
                                                        <a href="add-professor.html">Add Professor</a>
                                                    </li>
                                                    <li>
                                                        <a href="edit-professor.html">Edit Professor</a>
                                                    </li>
                                                    <li>
                                                        <a href="professor-profile.html">Professor Profile</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demopro" href="#">Students <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="demopro" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="all-students.html">All Students</a>
                                                    </li>
                                                    <li>
                                                        <a href="add-student.html">Add Student</a>
                                                    </li>
                                                    <li>
                                                        <a href="edit-student.html">Edit Student</a>
                                                    </li>
                                                    <li>
                                                        <a href="student-profile.html">Student Profile</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#democrou" href="#">Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="democrou" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="all-courses.html">All Courses</a>
                                                    </li>
                                                    <li>
                                                        <a href="add-course.html">Add Course</a>
                                                    </li>
                                                    <li>
                                                        <a href="edit-course.html">Edit Course</a>
                                                    </li>
                                                    <li>
                                                        <a href="course-profile.html">Courses Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="course-payment.html">Courses Payment</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demolibra" href="#">Library <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="demolibra" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="library-assets.html">Library Assets</a>
                                                    </li>
                                                    <li>
                                                        <a href="add-library-assets.html">Add Library Asset</a>
                                                    </li>
                                                    <li>
                                                        <a href="edit-library-assets.html">Edit Library Asset</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demodepart" href="#">Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="demodepart" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="departments.html">Departments List</a>
                                                    </li>
                                                    <li>
                                                        <a href="add-department.html">Add Departments</a>
                                                    </li>
                                                    <li>
                                                        <a href="edit-department.html">Edit Departments</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="demo" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="mailbox.html">Inbox</a>
                                                    </li>
                                                    <li>
                                                        <a href="mailbox-view.html">View Mail</a>
                                                    </li>
                                                    <li>
                                                        <a href="mailbox-compose.html">Compose Mail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="google-map.html">Google Map</a>
                                                    </li>
                                                    <li>
                                                        <a href="data-maps.html">Data Maps</a>
                                                    </li>
                                                    <li>
                                                        <a href="pdf-viewer.html">Pdf Viewer</a>
                                                    </li>
                                                    <li>
                                                        <a href="x-editable.html">X-Editable</a>
                                                    </li>
                                                    <li>
                                                        <a href="code-editor.html">Code Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="tree-view.html">Tree View</a>
                                                    </li>
                                                    <li>
                                                        <a href="preloader.html">Preloader</a>
                                                    </li>
                                                    <li>
                                                        <a href="images-cropper.html">Images Cropper</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="Chartsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="bar-charts.html">Bar Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="line-charts.html">Line Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="area-charts.html">Area Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="rounded-chart.html">Rounded Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="c3.html">C3 Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="sparkline.html">Sparkline Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="peity.html">Peity Charts</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="Tablesmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="static-table.html">Static Table</a>
                                                    </li>
                                                    <li>
                                                        <a href="data-table.html">Data Table</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="formsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="basic-form-element.html">Basic Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="advance-form-element.html">Advanced Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-meter.html">Password Meter</a>
                                                    </li>
                                                    <li>
                                                        <a href="multi-upload.html">Multi Upload</a>
                                                    </li>
                                                    <li>
                                                        <a href="tinymc.html">Text Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="dual-list-box.html">Dual List Box</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="basic-form-element.html">Basic Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="advance-form-element.html">Advanced Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-meter.html">Password Meter</a>
                                                    </li>
                                                    <li>
                                                        <a href="multi-upload.html">Multi Upload</a>
                                                    </li>
                                                    <li>
                                                        <a href="tinymc.html">Text Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="dual-list-box.html">Dual List Box</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="login.html">Login</a>
                                                    </li>
                                                    <li>
                                                        <a href="register.html">Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="lock.html">Lock</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-recovery.html">Password Recovery</a>
                                                    </li>
                                                    <li><a href="404.html">404 Page</a></li>
                                                    <li><a href="500.html">500 Page</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile Menu end -->
                <div class="breadcome-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcome-list">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="breadcome-heading">
                                                <form role="search" class="sr-input-func">
                                                    <input type="text" placeholder="Search..." class="search-int form-control">
                                                    <a href="#"><i class="fa fa-search"></i></a>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul class="breadcome-menu">
                                                <li>
                                                    <a href="#">Home</a> <span class="bread-slash">/</span>
                                                </li>
                                                <li>
                                                    <span class="bread-blod">Dashboard V.1</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    }

    <script src="~/Scripts/jquery-clock-timepicker.min.js"></script>
    <script src="~/Scripts/jquery-clock-timepicker.js"></script>


    <!-- jquery
    ============================================ -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Content/assets/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Content/assets/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Content/assets/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Content/assets/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/counterup/waypoints.min.js"></script>
    <script src="~/Content/assets/js/counterup/counterup-active.js"></script>
    <!-- dropzone JS
        ============================================ -->
    <script src="~/Content/assets/js/dropzone/dropzone.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Content/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/assets/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Content/assets/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/assets/js/metisMenu/metisMenu-active.js"></script>
    <!-- datepicker JS
        ============================================ -->
    <script src="~/Content/assets/js/datepicker/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/datepicker/datepicker-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/assets/js/morrisjs/raphael-min.js"></script>
    <script src="~/Content/assets/js/morrisjs/morris.js"></script>
    <script src="~/Content/assets/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/assets/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Content/assets/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/Content/assets/js/calendar/moment.min.js"></script>
    <script src="~/Content/assets/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/assets/js/calendar/fullcalendar-active.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="~/Content/assets/js/data-table/bootstrap-table.js"></script>
    <script src="~/Content/assets/js/data-table/tableExport.js"></script>
    <script src="~/Content/assets/js/data-table/data-table-active.js"></script>
    <script src="~/Content/assets/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/Content/assets/js/data-table/bootstrap-editable.js"></script>
    <script src="~/Content/assets/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/Content/assets/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/Content/assets/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="~/Content/assets/js/editable/jquery.mockjax.js"></script>
    <script src="~/Content/assets/js/editable/mock-active.js"></script>
    <script src="~/Content/assets/js/editable/select2.js"></script>
    <script src="~/Content/assets/js/editable/moment.min.js"></script>
    <script src="~/Content/assets/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/assets/js/editable/bootstrap-editable.js"></script>
    <script src="~/Content/assets/js/editable/xediable-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/Content/assets/js/tab.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Content/assets/js/main.js"></script>
    <!-- sweetalert JS
        ============================================ -->
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
</body>
</html>