﻿
@{
    ViewBag.Title = "Nuevo Estudiante";
}

<!-- Single pro tab review Start-->
<div ng-controller="StudentCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Información Básica</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                    <div class="form-group">
                                                        <input type="number" class="form-control" placeholder="Código Estudiante" disabled id="studentCode" ng-model="studentCod">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Nombre" ng-model="studentName">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Apellido" ng-model="studentLastName">
                                                    </div>

                                                    <div class="form-group">
                                                        <input id="finish" type="text" class="form-control" placeholder="Fecha de nacimiento" ng-model="studentDateOfBirth">
                                                    </div>

                                                    <div class="form-group">
                                                        <select name="gender" class="form-control" ng-model="studentGender">
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <select class="form-control" multiple ng-options="p.Name for p in sessions track by p.SessionCod" ng-model="Session">
                                                        </select>
                                                    </div>

                                                    <div class="form-group res-mg-t-15">
                                                        <textarea name="description" placeholder="Dirección" ng-model="studentAddress"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <button class="btn btn-primary waves-effect waves-light" ng-click="createStudent()">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>