﻿
@{
    ViewBag.Title = "Listado de Estudiantes";
}

<style>
    .newStudentInput {
        font-weight: bold;
        font-family: inherit;
        font-size: 100%;
        line-height: 3.15;
        margin-left: 1520px;
    }
</style>
<!-- Static Table Start -->
<div ng-controller="ViewAllStudentsController" class="static-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline8-list">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Estudiantes</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="static-table-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Matricula</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color:blue;" ng-repeat="student in students">
                                        <td>{{student.StudentCod}}</td>
                                        <td>{{student.Name}}</td>
                                        <td>{{student.LastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <input class="btn-primary newStudentInput" type="button" value="Nuevo Estudiante" onclick='window.location = "@Url.Action("Create", "Student")";'/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->