﻿
@{
    ViewBag.Title = "Correción de Notas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single pro tab review Start-->
<div ng-controller="StudentCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Corregir Notas</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <span>Curso</span>
                                                        <select class="form-control" >
                                                            <optio>Primero de Bachiller</optio>
                                                            <option>Segundo de Bachiller</option>
                                                            <option>Tercero de Bachiller</option>
                                                            <option>Cuarto de Bachiller</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <span>Sesión</span>
                                                        <select class="form-control" >
                                                            <option>Inglés</option>
                                                            <option>Matemáticas</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <span>Estudiante</span>
                                                        <select class="form-control" >
                                                            <option>Joel Perez</option>
                                                            <option>Pepe De La Cruz</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <button class="btn btn-primary waves-effect waves-light">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>