﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single pro tab review Start-->
<div ng-controller="AdminCreateController" class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Información Básica</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Código del Administrador" disabled id="adminCode" ng-model="adminRandomCode">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Nombre" ng-model="adminName">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Apellido" ng-model="adminLastName">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Contraseña" ng-model="adminPassword">
                                                    </div>                                                   
                                                </div>                                                             
                                            </div>      
                                            <button class="btn btn-primary waves-effect waves-light" ng-click="createAdmin()">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>