﻿
@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Listado de Administradores";
}

<style>
    .newAdminInput {
        font-weight: bold;
        font-family: inherit;
        font-size: 100%;
        line-height: 3.15;
        margin-left: 1500px;
    }

    {
        border-color:blue;
    }
</style>

<!-- Static Table Start -->
<div ng-controller="ViewAllAdminController" class="static-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline8-list">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Administradores</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="static-table-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color:blue;" ng-repeat="admin in admins" ng-click="getAdminInformationModal(admin);openAdminModifyModal()">
                                        <td>{{admin.CodUser}}</td>
                                        <td>{{admin.Name}}</td>
                                        <td>{{admin.LastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <input class="btn-primary newAdminInput" type="button" value="Nuevo Administrador" onclick='window.location = "@Url.Action("Create", "User")";' />
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->

    <!-- Edit Modal -->
    <div class="modal fade" id="adminModifyModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Editar Administrador</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <label>Código</label>
                        <input type="text" class="form-control" ng-model="adminInformationModal.CodUser" disabled />
                    </div>

                    <div class="col-lg-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" ng-model="adminInformationModal.Name" />
                    </div>

                    <div class="col-lg-6">
                        <label>Apellido</label>
                        <input class="form-control" ng-model="adminInformationModal.LastName" />
                    </div>

                    <div class="col-lg-6">
                        <label>Contraseña</label>
                        <input class="form-control" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editUser(adminInformationModal)">Modificar</button>
                    <button type="button" class="btn btn-danger" ng-click="changeUserStatus(adminInformationModal.ID)">Desactivar Administrador</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteUser(adminInformationModal.ID)">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
</div>